<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Stock Trading Simulator">
      <service>
        <wellknown type="Stock_Trading_Simulator_Kernel.RemotingInterface, SimKrn" objectUri="Stock_Trading_Simulator_Kernel.RemotingInterface"
          mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="12345">
          <serverProviders>
            <provider
              type="Stock_Trading_Simulator_Kernel.ClientIPServerSinkProvider, SimKrn"
              customSinkType="Stock_Trading_Simulator_Kernel.ClientIPServerSink, SimKrn" />
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>