<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stock_Trading_Simulator_Kernel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Stock_Trading_Simulator_Kernel.Properties.Settings>
            <setting name="SimKrn_RI_UserWealth_Service1" serializeAs="String">
                <value>http://testwealth.eastmoney.com/MainService.asmx</value>
            </setting>
            <setting name="SimKrn_Result_Notifer_RemotingRespond" serializeAs="String">
                <value>http://jypost.eastmoney.com/Services/RemotingRespond.asmx</value>
            </setting>
        </Stock_Trading_Simulator_Kernel.Properties.Settings>
    </applicationSettings>
</configuration>