<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PlayId" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="connStr" connectionString="data source=localhost;user id=emtradeplay;password=eastmoney201;Initial Catalog=emtradeplay;"/>
  </connectionStrings>
</configuration>