<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="Stock Trading UserRegister">
      <service>
        <wellknown type="Stock_Trading_UserRegister_Kernel.RemotingInterface, RegKrn" objectUri="Stock_Trading_UserRegister_Kernel.RemotingInterface"
          mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="12342">
          <serverProviders>
            <provider
              type="Stock_Trading_UserRegister_Kernel.ClientIPServerSinkProvider, RegKrn"
              customSinkType="Stock_Trading_UserRegister_Kernel.ClientIPServerSink, RegKrn" />
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>