<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalcDailyRank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CalcDailyRank.Properties.Settings>
            <setting name="CalcDailyRank_ccpostWS_RemotingRespond" serializeAs="String">
                <value>http://ccpost.eastmoney.com/Services/RemotingRespond.asmx</value>
            </setting>
            <setting name="CalcDailyRank_AcquireStockExRights_AcquireStockExRights"
                serializeAs="String">
                <value>http://222.73.55.134/em_data2/Services/AcquireStockExRights.asmx</value>
            </setting>
        </CalcDailyRank.Properties.Settings>
    </applicationSettings>
</configuration>